{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>


    {{#memberList}}
        <tr>
            <td><a href="/members/{{ID}}"> {{email}} </a> </td>
            <td>{{password}}    </td>
    {{/memberList}}
    </tr>
    </tbody>
</table>

<a href="/signup">회원가입</a>

{{>layouts/footer}}